{% extends 'welcome.html' %}
{% block title %}Bank Statement{% endblock %}
{% block content %}
<center>
    <h2>Bank Statement</h2>
    {% if data %}
    <h3>Username:<font color="maroon">{{username}}</font></h3>
    <table border='1' width="90%" align="center" cellpadding="10" cellspacing="0" bgcolor="white">
        <tr>
            <th>sl no</th>
            <th>account number</th>
            <th>Transaction type</th>
            <th>Date & Time</th>
            <th>Transaction Amount</th>
            <th>b_balance</th>
            <th>a_balance</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
            <td>{{ i[5] }}</td>
            <td>{{ i[6] }}</td>
            <td>{{ i[3] }}</td>
            <td>{{ i[4] }}</td>
            
            
        </tr>
         
        {% endfor %}
        <tr>
        <td colspan="4">Total:</td>
        <td>₹ {{sum_transaction_amount}}</td>
        <td>₹ {{ sum_b_balance }}</td>
        <td>₹ {{ sum_a_balance }}</td>
    </tr>

    </table>
    {% else %}
    <h3><font color="red">No transactions found</font></h3>
    {% endif %}
    <br>
    <form action="/home">
        <input type="submit" value="cancel">
    </form>
</center>
{% endblock %}